*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: black;
}

body
{
    background-color: rgb(149, 173, 194);
    display:flex;
    flex-direction: column;    
    font-family: 'Arvo', serif;
    min-height: 100vh;
}

h1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.75% 0;
}

main
{
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

main p
{
    padding: 0 2% 10px;
}

main .main-project-container
{
    display: flex;
    margin-top: 1%;
    justify-content: center;
    flex-grow: 1;
}

.main-project-container .platzi, .main-project-container .personal
{
    background-color: rgb(93, 128, 158);
    text-align: center;
    flex-flow: row wrap;
    padding: 0.5% 1% 0;
    flex-grow: 1;
    display: flex;
    width:50%;
    border-top: black solid;
    border-bottom: black solid;
    align-content: flex-start;
}

.main-project-container>section>p
{
    padding-bottom: 1.25%;
    flex-grow: 0;
    display:block;
    order: -5;
}

.main-project-container>section>.vitrina
{
    flex-grow: 1;
    width: 25%;
    height:20vh;
    display: inline;
    margin:0;
}

.vitrina a>p
{
    color: #0645AD;
  font-weight: bold;
  text-decoration: underline;
}

.preview
{
    flex-shrink: 1;
    width: 90%;
    height:100%;
}

.platzi
{
    border-right: black solid;
}

.main-project-container>section figcaption strong
{
    font-size: 0.8rem;
}

.main-project-container>section figcaption>p
{
    font-size: 0.8rem;
    text-decoration-line: none;
    text-decoration-color: black;
}

footer
{
    background-color: rgb(74,81,97);
    text-align: center;
    display: inline-block;/*Ðis fixes unextended bg colour*/
    padding-top: 1%;
}
