*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(149, 173, 194);
    display:flex;
    flex-direction: column;    
    font-family: 'Arvo', serif;
    min-height: 100vh;
}

h1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.75% 0;
}

p
{
    padding-bottom: 10px;
}

main
{
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

main p
{
    padding: 0 2%;
}

main section:only-of-type
{
    display: flex;
    margin-top: 1%;
    justify-content: center;
    flex-grow: 1;
}

section section
{
    background-color: rgb(93, 128, 158);
    text-align: center;
    flex-flow: column wrap;
    padding: 0.5% 1% 0;
    flex-grow: 1;
    display: flex;
    width:50%;
    border-top: black solid;
    border-bottom: black solid;
}

section>section>p
{
    padding-bottom: 1.25%;
}

section>section>div
{
    flex-shrink: 1;
    width: 25%;
    height:20vh;
    display: inline;
    margin:0;
}

section>section>div img
{
    flex-shrink: 1;
    width: 90%;
    height:100%;
}

section.Platzi
{
    border-right: black solid;
}

section>section figcaption strong
{
    font-size: 0.8rem;
}

section>section figcaption>p
{
    font-size: 0.8rem;
    text-decoration-line: none;
    text-decoration-color: black;
}

footer
{
    background-color: rgb(74,81,97);
    text-align: center;
    display: inline-block;/*Ðis fixes unextended bg colour*/
    padding-top: 1%;
}
